body {
	padding: 0;
}

.jumbotron {
	background-image: url(https://images.pexels.com/photos/547116/pexels-photo-547116.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb);
	height: 130vh;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 0;
	background-repeat:no-repeat;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
	background-position:center;
}

.slogan {
	background: rgba(49, 50, 52, 0.5);
 	width: 600px;
  	height: 200px;
  	margin-top: 150px;
  	padding: 0;
  	color: #fff;
}

.phone {
	width: 700px;
	height: 100px;
}

.slogan h1 {
    text-align: center;
    padding-top: 30px; 
}

.slogan p {
	text-align: center;
	font-size: 20px;
}

.start-something-new {
	position: relative;
	margin-top: 10vh;
}

.start-something-new img {
	position: absolute;
	bottom: 0vh;
	right: 10vw;
}

.rectangles {
	margin-top: 10vh;
	color: #fff;
}

.rectangles h2 {
	padding-top: 20px;
	text-align: center;
}

.rectangles p {
	text-align: center;
}

.rectangle-filter {
	position: absolute;
	left: 0;
  	height: 30vh;
  	width: 100%;
  	color: #fff;
  	padding-left: 0;
  	padding-right: 0;
  	background: rgba(0, 0, 0, 0.5);
  	margin: 0;
}

.rectangle-top-1 {
	height: 30vh;
	width: 100%;
	background: #9C27B0;
}

.rectangle-top-1:hover {
    transform: scale(1.1);
    transition: 0.3s;
    z-index: 1;
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.75);
} 

.rectangle-top-2 {
	height: 30vh;
	width: 100%;
	background: #6A1B9A;
}

.rectangle-top-2 h2 {
	padding-top: 20px;
}

.rectangle-top-2:hover {
	transform: scale(1.1);
    transition: 0.3s;
    z-index: 1;
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.75);
}

.rectangle-top-3 {
	position: relative;
	height: 30vh;
	width: 100%;
	background-image: url(https://images.pexels.com/photos/294674/pexels-photo-294674.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb);
	color: #6A1B9A;
	background-repeat:no-repeat;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
	background-position:center;
}

.rectangle-top-3:hover {
	transform: scale(1.1);
    transition: 0.3s;
    z-index: 1;
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.75);
}

.rectangle-top-4 {
	height: 30vh;
	width: 100%;
	background: #7B1FA2;
}

.rectangle-top-4:hover {
	transform: scale(1.1);
    transition: 0.3s;
    z-index: 1;
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.75);
} 

.rectangle-1 {
	height: 30vh;
	width: 100%;
	background-image: url(https://images.pexels.com/photos/372098/pexels-photo-372098.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb);
	background-repeat:no-repeat;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
	background-position:center;
}

.rectangle-1:hover {
	transform: scale(1.1);
    transition: 0.3s;
    z-index: 1;
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.75);
}

.rectangle-2 {
	height: 30vh;
	width: 100%;
	background: #68efad;
}

.rectangle-2:hover {
	transform: scale(1.1);
    transition: 0.3s;
    z-index: 1;
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.75);
}

.rectangle-3 {
	position: relative;
	height: 30vh;
	width: 100%;
	background-image: url(https://images.pexels.com/photos/346908/pexels-photo-346908.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb);
	color: #6A1B9A;
	background-repeat:no-repeat;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
	background-position:center;
}

.rectangle-3:hover {
	transform: scale(1.1);
    transition: 0.3s;
    z-index: 1;
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.75);
}

.a-look-at {
	margin-top: 10vh;
}

.old-car {
	height: 100vh;	
	background-image: url(https://images.pexels.com/photos/132657/pexels-photo-132657.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb);
	margin-top: 10vh;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 0;
	background-repeat:no-repeat;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
	background-position:center;
}

.old-car-slogan {
	background: rgba(49, 50, 52, 0.5);
 	width: 600px;
 	width: 600px;
  	height: 300px;
  	color: #fff;
  	padding-left: 50px;
}

.old-car-slogan h1 {
	padding-top: 50px;
}

.reason-to-get {
	background: #68efad;
	height: 70vh;
	font-weight: bold;
	color: #fff;
}

.reason-to-get h2 {
	padding-top: 50px;
	padding-bottom: 10vh;
	text-align: center;
}

.card {
	height: 70vh;
	display: flex;
	align-items: center;
	justify-content: center;	
}

.card-shadow {
	height: 50vh;
	max-width: 40%
	background: #fff;
	padding-right: 15px;
}

.card-shadow:hover {
    transform: scale(1.1);
    transition: 0.5s;
	-webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.75);
} 

.btn {
	background: #68efad;
}

.card-shadow-content {
	padding-top: 50px;
	margin-left: 30px;
}

.footer {
	background: #6A1B9A;
	height: 70vh;
	color: #fff;
}

.footer ul {
	list-style-type: none;
	padding: 0;
}

.get-in-touch {
	padding-top: 10vh;
}

.md-form label {
	color: #fff;
}

.contact {
	display: flex;
	align-items: center;
	padding-left: 10vw;
}

@media (min-width: 768px) {
	.start-something-new img {
		right: 0;
	}
}

@media (max-width: 992px) {
	
	.start-something-new img {
		display: none;
	}

	.slogan {
		width: 100%;
	}

	.rectangle {
		height: auto;
	}

	.rectangle-filter {
		height: 100%;
	}

	.reason-to-get {
		height: auto;
	}

	.footer {
		height: auto;
	}

	.footer ul {
		padding: 0px;
	}
}

@media (max-width: 768px) {

	.slogan {
		width: 100%;
	}

	.start-something-new p, h2 {
		padding: 10px;
		text-align: center;
	}

	.phone {
		display: none;
	}

	.reason-to-get {
		height: auto;
	}

	.reason-to-get p, h5 {
		padding: 10px;
		text-align: center;
	}

	.old-car-slogan {
		width: 100%;
		text-align: center;
	}

	.card {
		height: auto;
	}

	.card-shadow {
		height: 60vh;
		-webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0);
		-moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0);
		box-shadow: 0px 2px 3px 0px rgba(0,0,0,0);
		margin-bottom: 20px;
}

	.footer {
		height: auto;
	}

	.get-in-touch p {
		padding: 20px;
		text-align: justify;
	}

	.footer ul {
		text-align: center;
	}

	.contact h5 {
		text-align: left;
	}
}
